header  {
  background-image: url('/img/book-banner.jpg');
  text-align: center;

}

body {
  background: radial-gradient(#5DD026, #26D044);
  margin: 10px;

}

body p {

}

.navbar {
  background-color: #FFBD33;
}

img {
  width: 40%;
  max-height: 200px;
  float: left;
  margin-right: 30px;

}

button {
  margin: 10px;
  display:inline-block;
}
