<h2>About Me</h2>

<p>I am a life-long reader, the type of person who can't fall asleep without a book in her hand. Currently iving in a book-lined apartment in Portland Oregon with my husband, five-year-old daughter and mouse-obsessed mutt Mary Padogo Jerry Hollers (don't ask me, the kid named her).</p>
