<div class="container">
  <header>
    <h1>  ***  </h1>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">BoookWorm</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">{{#link-to 'index'}}Home{{/link-to}}</li>
      <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
      <li>{{#link-to 'about-me'}}About Me{{/link-to}}</li>
    </ul>
  </div>
</nav>

  </header>
  {{outlet}}
</div>
