

  {{update-book book=model update="update"}}
  {{book-detail book=model update='update' destroyBook="destroyBook"}}
  <!-- <button class="btn btn-warning" {{action 'delete' book}}>delete</button> -->
